<h3 id='doctorHeader' class="">DOCTOR REGISTERATION</h3>
<!-- <h3 id ='othersHeader' class="d-none">OTHERS REGISTERATION</h3> -->
<form #docRegForm="ngForm" (ngSubmit)="onSubmit(docRegForm)">
    <input [(ngModel)]="this.doctorSrvice.doctorRegFormData.UserId" type="text" name="UserId" id='userId' class="d-none"
        placeholder="First name">
    <input [(ngModel)]="this.doctorSrvice.doctorRegFormData.DoctorId" type="text" name="DoctorId" id='doctorId'
        class="d-none" placeholder="First name">
    <div class="row">
        <div class="col">
            <input [(ngModel)]="this.doctorSrvice.doctorRegFormData.FirstName" type="text" name="FirstName" id='fname'
                class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input [(ngModel)]="this.doctorSrvice.doctorRegFormData.LastName" type="text" name=LastName id='lname'
                class="form-control" placeholder="Last name">
        </div>
    </div>

    <div class="row" style="margin-top: 2%;">
        <div class="col">
            <input [(ngModel)]="this.doctorSrvice.doctorRegFormData.UserDob" type="date" name="UserDob" id='docDOB'
                class="form-control" placeholder="DOB">
        </div>
        <div class="col">
            <input [(ngModel)]="this.doctorSrvice.doctorRegFormData.Phone" type="text" name="Phone" id='phone'
                class="form-control" placeholder="Phone">
        </div>
    </div>

    <div class="row" style="margin-top: 2%;">
        <div class="col" style="display: flex;">
            <input [(ngModel)]="this.doctorSrvice.doctorRegFormData.City" type="text" name="City" class="form-control"
                placeholder="City">
            <input [(ngModel)]="this.doctorSrvice.doctorRegFormData.State" type="text" name="State" class="form-control"
                placeholder="State">
        </div>
        <div class="col" style="display: flex;">
            <input [(ngModel)]="this.doctorSrvice.doctorRegFormData.UserName" type="text" name="UserName"
                class="form-control" placeholder="Username">
            <input [(ngModel)]="this.doctorSrvice.doctorRegFormData.Password" type="text" name="Password"
                class="form-control" placeholder="Password">
        </div>
    </div>

    <div class="row" style="margin-top: 2%;">
        <div class="col">
            <select [(ngModel)]="this.doctorSrvice.doctorRegFormData.Specialization" class="form-control"
                name="Specialization" id='DoctorSpecialization'>
                <option value="0" selected>---Select SPECIALIZATION---</option>
                <option *ngFor="let item of listSpecialization" value={{item.SpecializationId}}>
                    {{item.SpecializationName}}</option>
            </select>


        </div>
        <div class="col" style="display: flex;">
            <label style="margin-right:1%;">Gender </label>
            <div style="padding-left: 5%;">
                <input ngModel type="radio" [checked]="this.doctorSrvice.doctorRegFormData.Gender == 'Male'"
                    name="Gender" value="Male" class="" placeholder="First name">
                <label>Male</label><i class="bi bi-gender-male"></i>
            </div>
            <div style="padding-left: 5%;">
                <input ngModel type="radio" name="Gender"
                    [checked]="this.doctorSrvice.doctorRegFormData.Gender == 'Female'" value="Female" class=""
                    placeholder="Last name">
                <label>Female</label><i class="bi bi-gender-female"></i>
            </div>
        </div>
    </div>
    <button style="float: right;margin-top: 10%;" type="submit" class="btn btn-warning">Submit</button>

</form>