<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: absolute;">
    <img src="" style="height: 90px;width:90px;background-color: black;border-radius: 50%;" src="../../assets/pics/favpng_health-icon-logo-icon-healthy-lifestyle-logo-icon.png" alt="">
    <a class="navbar-brand" href="#">CMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" >Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Pricing</a>
        </li>
          <a class="nav-item" class="nav-link" routerLink="login">Login</a>

      </ul>
    </div>
  </nav>
<div class="row mainRow">
    <div class="col-3"></div>
    <div class="col-4 centerCol">
       <h1>
           We Care for Your Health Every Moment
       </h1>
       <h4>
           If you are looking at blank cassettes on the web, you may be very confused at the difference in price You may see some for as low as each.
       </h4>
       <button class="btn btn-primary" style="background-color: #3face4;">
           Get Started
       </button>
    </div>
    <div class="col-5"></div>
</div>