
<!-- <h3 id='doctorHeader' class="">DOCTOR REGISTERATION</h3> -->
<h3 id='othersHeader' class="">OTHERS REGISTERATION</h3>
<form #docRegForm="ngForm" (ngSubmit)="onSubmit(docRegForm)">
    <input [(ngModel)]="userEditObj.UserId" ngModel type="text" name="UserId" id='UserId' class="d-none"
    placeholder="First name">
    <div class="row">
        <div class="col">
            <input [(ngModel)]="userEditObj.FirstName" ngModel type="text" name="FirstName" id='fname' class="form-control"
                placeholder="First name">
        </div>
        <div class="col">
            <input [(ngModel)]="userEditObj.LastName" type="text" name=LastName id='lname' class="form-control" placeholder="Last name">
        </div>
    </div>

    <div class="row" style="margin-top: 2%;">
        <div class="col">
            <input [(ngModel)]="userEditObj.UserDob" type="date" name="UserDob" id='docDOB' class="form-control" placeholder="DOB">
        </div>
        <div class="col">
            <input [(ngModel)]="userEditObj.Phone" type="text" name="Phone" id='phone' class="form-control" placeholder="Phone">
        </div>
    </div>

    <div class="row" style="margin-top: 2%;">
        <div class="col" style="display: flex;">
            <input [(ngModel)]="userEditObj.City" type="text" name="City" class="form-control" placeholder="City">
            <input [(ngModel)]="userEditObj.State" type="text" name="State" class="form-control" placeholder="State">
        </div>
        <div class="col" style="display: flex;">
            <input [(ngModel)]="userEditObj.UserName" type="text" name="UserName" class="form-control" placeholder="Username">
            <input [(ngModel)]="userEditObj.Password" type="text" name="Password" class="form-control" placeholder="Password">
        </div>
    </div>

    <div class="row" style="margin-top: 2%;">
        <div class="col">

            <select [(ngModel)]="userEditObj.RoleId" class="form-control"  name="RoleId" id='StaffRoles'>
                <option selected value="0">---Select ROLE---</option>
                <option *ngFor="let item of listAllRoles" value={{item.RoleId}}>{{item.RoleName}}</option>          
            </select>
        </div>
        <div class="col" style="display: flex;">
            <label style="margin-right:1%;">Gender </label>
            <div style="padding-left: 5%;">
                <input ngModel type="radio" name="Gender" value="Male" [checked]="userEditObj.Gender == 'Male'"  class="" placeholder="First name">
                <label>Male</label><i class="bi bi-gender-male"></i>
            </div>
            <div style="padding-left: 5%;">
                <input ngModel type="radio" name="Gender" value="Female" [checked]="userEditObj.Gender == 'Female'" class="" placeholder="Last name">
                <label>Female</label><i class="bi bi-gender-female"></i>
            </div>
        </div>
    </div>
    <button style="float: right;margin-top: 10%;" type="submit" class="btn btn-warning">Submit</button>

</form>